.button {
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    outline: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem;
    font-size: 24px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--strong-cyan);
}